<div class="main user-show">
  <div class="container">
    <div class="user">
      <!-- 以下で、ユーザー名を出力してください -->
      <h2><%= @users.name%></h2>
      <p>設定</p>
    </div>
    
    <% @events.each do |event| %>
      <div class="users-index-item">
        <div class="user-right">
          <p>
            <%= event.start.month %>月
            <%= event.start.day %>日
            <%= event.start.hour %>
            時〜
            <%= event.end.hour %>
            時&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日給: 
            <%= (event.end.hour-event.start.hour)*@users.hourfee %>
            円
          </p>          
        </div>
      </div>
    <% end %>
  </div>
</div>
