<!DOCTYPE html>
<html>
  <head>
    <title>ShareSchedule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>

        <% else %>
          <%= link_to("シフト管理アプリ", "/") %>
        <% end %>
      </div>
      <ul class="header-menus-left">
        <% if @current_user %>
        　　<li>
              <%= link_to("ホーム", "/home") %>
            </li>
        <% end %>
      </ul>
      <ul class="header-menus">
        
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.user_id}") %>
          </li>
          <li>
            <%= link_to("シフト表", "/shift/index", data:{turbolinks: false}) %>
          </li>
          
          <% if @current_user.admin == 100 %>
          <!--
          <li>
             <%= link_to("シフト追加", "/users/new") %>
          </li>
          -->
          <li>
            <%= link_to("新規ユーザー登録", "/users/create_user") %>
          </li>
          <li>
            <%= link_to("ユーザ一覧", "/users/index") %>
          </li>
          <% end %>
          
          <li>
            <%= link_to("ユーザ設定", "/users/option") %>
          </li>
        <% else %>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>
     <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
      <% end %>
      
    <%= yield %>
  </body>
</html>
